<%- include('../partials/userHead') %>


<form action="/admin/edit-product" method="post" class="my-auto" style="height: 90vh;" enctype="multipart/form-data">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class="card bg-transparent" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Edit<span class="text-main-1">Product</span></p>

                                <form class="mx-1 mx-md-4">
      
                                    <div class="d-flex flex-row align-items-center mb-4">
                                      
                                      <div class="form-outline flex-fill mb-0">
                                        <label class="form-label" for="form3Example1c">Game Name</label>
                                        <input type="text" id="form3Example1c" class="form-control" name="gName" value="<%= product.name %>" required/>
                                        
                                      </div>
                                    </div>
                  
                                    <div class="d-flex flex-row align-items-center mb-4">
                                      
                                      <div class="form-outline flex-fill mb-0">
                                        <label class="form-label" for="form3Example3c">Game Platform</label>
                                        <input type="text" id="form3Example3c" class="form-control" name="gPlatform" value="<%= product.platform %>" required/>
                                        
                                      </div>
                                    </div>
                  
                                    <div class="d-flex flex-row align-items-center mb-4">
                                       
                                        <div class="form-outline flex-fill mb-0">
                                            <label class="form-label" for="form3Example1c">Game Price</label>
                                          <input type="number" id="form3Example1c" class="form-control" name="gPrice" value="<%= product.price %>" required/>
                                          
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                       
                                      <div class="form-outline flex-fill mb-0">
                                          <label class="form-label" for="form3Example1c">Game Stock</label>
                                          <input type="number" id="form3Example1c" class="form-control" name="stock" value="<%= product.stock %>" required/>                    
                                      </div>
                                    </div>
            
                                    <div class="d-flex flex-row align-items-center mb-4">
                                     
                                      <div class="form-outline flex-fill mb-0">
                                        <label class="form-label" for="form3Example4c">Game Description</label>
                                        <input type="text" id="form3Example4c" class="form-control" name="gDescription" value="<%= product.description %>" required/>
                                        
                                      </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                       
                                      <div class="form-outline flex-fill mb-0">
                                          <label class="form-label" for="form3Example1c">Game Rating</label>
                                        <input type="number" id="form3Example1c" class="form-control" name="gRating" value="<%= product.rating %>"  max="5" required/>
                                        
                                      </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                       
                                      <div class="form-outline flex-fill mb-3">
                                        <label for="">Game Genre</label>
                                      <select name="genre" class="form-control">
                                        <option value="" disabled selected>Select a Genre</option>
                                        <option value="Shooters">Shooters</option>
                                        <option value="Role-Playing">Role-Playing</option>
                                        <option value="MOBA">MOBA</option>
                                        <option value="Sports">Sports</option>
                                        <option value="Survival">Survival</option>
                                        <option value="Horror">Horror</option>
                                        <option value="Sandbox">Sandbox</option>
                                      </select>
                                      </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                     
                                        <div class="form-outline flex-fill mb-0">
                                          <label class="form-label" for="form3Example4c">Game Image</label>
                                          <input type="file" id="form3Example4c" class="form-control" name="gImage" required/>
                                          
                                        </div>
                                      </div>
            
                                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                        <input type="hidden" name="id" value="<%= product._id %>">
                                      <button type="submit" value="Update Product" class="btn btn-primary btn-lg">Save Edits</button>
                                      <a href="/admin/view-product" class="btn btn-primary ml-2 btn-lg">Go Back</a>
                                    </div>
                                  </form>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</form>

<%- include('../partials/userFooter') %>