<%- include("../partials/userDashboardHeader") -%>
<%- include('../partials/userHead') %>
    <!-- ============================================================== -->
    <!-- End Topbar header -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <%- include("../partials/userSidebar") -%>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb">
                <div class="row align-items-center">
                    <div class="col-5">
                        <h4 class="page-title">Profile Page</h4>
                        <!-- <div class="d-flex align-items-center">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Library</li>
                                </ol>
                            </nav>
                        </div> -->
                    </div>

                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <!-- Row -->
                <div class="row">
                    <!-- Column -->
                    <div class="col-lg-4 col-xlg-3 col-md-5">
                        <div class="card">
                            <div class="card-body">
                                <center class="m-t-30"> <img src="https://static.vecteezy.com/system/resources/previews/002/318/271/original/user-profile-icon-free-vector.jpg" class="rounded-circle"
                                        width="150" />
                                    <h4 class="card-title m-t-10"><%= user.name %></h4>
                                    <h6 class="card-subtitle">Brocamp Student</h6>
                                    <div class="row text-center justify-content-md-center">
                                        <div class="col-4"><a href="javascript:void(0)" class="link"><i
                                                    class="icon-people"></i>
                                                <font class="font-medium">254</font>
                                            </a></div>
                                        <div class="col-4"><a href="javascript:void(0)" class="link"><i
                                                    class="icon-picture"></i>
                                                <font class="font-medium">54</font>
                                            </a></div>
                                    </div>
                                </center>
                            </div>
                            <div>
                                <hr>
                            </div>
                            <div class="card-body"> <small class="text-muted">Email address </small>
                                <h6><%= user.email %></h6> <small class="text-muted p-t-30 db">Phone</small>
                                <h6><%= user.mobile %></h6> <small class="text-muted p-t-30 db">Address</small>
                                <h6>71 Pilgrim Avenue Chevy Chase, MD 20815</h6>
                                <div class="map-box">
                                    <iframe
                                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d470029.1604841957!2d72.29955005258641!3d23.019996818380896!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e848aba5bd449%3A0x4fcedd11614f6516!2sAhmedabad%2C+Gujarat!5e0!3m2!1sen!2sin!4v1493204785508"
                                        width="100%" height="150" frameborder="0" style="border:0"
                                        allowfullscreen></iframe>
                                </div> <small class="text-muted p-t-30 db">Social Profile</small>
                                <br />
                                <button class="btn btn-circle btn-secondary"><i class="fab fa-facebook-f"></i></button>
                                <button class="btn btn-circle btn-secondary"><i class="fab fa-twitter"></i></button>
                                <button class="btn btn-circle btn-secondary"><i class="fab fa-youtube"></i></button>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <!-- Column -->
                    <div class="container row">
                      <div class="col-6">
                        <h1 class="d-inline">Welcome  <%= user.name %> </h1>
                      </div>
                      <div class="col-6">
                        <a href="/logout" class="btn btn-primary ms-2 mt-5 ">Logout</a>
                      </div>
                    </div>
                    
                       
                        
                                    
                                    <div class="nk-tabs container">
                                    
                                      <div class="nk-gap"></div>
                                      <ul class="nav nav-tabs" role="tablist">
                                          <li class="nav-item">
                                              <a class="nav-link active" href="#tabs-1-1" role="tab" data-toggle="tab">User Data</a>
                                          </li>
                                          <li class="nav-item">
                                              <a class="nav-link" href="#tabs-1-2" role="tab" data-toggle="tab">Orders</a>
                                          </li>
                                          <li class="nav-item">
                                              <a class="nav-link" href="#tabs-1-3" role="tab" data-toggle="tab">Tab 3</a>
                                          </li>
                                      </ul>
                                      <div class="tab-content text-light">
                                          <div role="tabpanel" class="tab-pane fade show active" id="tabs-1-1">
                                              <div class="nk-gap"></div>
                                              
                                              <section class="container">
                                                <table class="table text-light">
                                                    <thead>
                                                      <tr>
                                                        <th scope="col">Name</th>
                                                        <th scope="col">Email</th>
                                                        <th scope="col">Mobile</th>
                                                        <th scope="col">Actions</th>
                                                      </tr>
                                                    </thead>
                                                    
                                                    <tbody>
                                                      <tr>
                                                        <td><%= user.name %></td>
                                                        <td><%= user.email %></td>
                                                        <td><%= user.mobile %></td>
                                                        <td><a href="/edit-user?id=<%= user._id %>" class="btn btn-primary ms-2 ">Edit</a></td>
                                                        
                                                      </tr>
                                                    </tbody>
                                                  </table>
                                            </section>
                    
                                              <div class="nk-gap"></div>
                                          </div>
                                          <div role="tabpanel" class="tab-pane fade" id="tabs-1-2">
                                              <div class="nk-gap"></div>
                                              
                                              <section class="container">
                                                <table class="table text-light">
                                                    <thead>
                                                      <tr>
                                                        <th scope="col">OrderId</th>
                                                        <th scope="col">Time</th>
                                                        <th scope="col">Payment</th>
                                                        <th scope="col">Status</th>
                                                        <th scope="col">Actions</th>
                    
                                                      </tr>
                                                    </thead>
                                                    <% for(let key of userOrders){ %>
                                                    <tbody>
                                                      <tr>
                                                        <td><%= key._id %></td>
                                                        <td><%= key.createdAt %></td>
                                                        <td><%= key.payment %></td>
                                                        <td><%= key.status %></td>
                                                        <td><a href="/cancel-order?id=<%= key._id %>" class="btn btn-primary ms-2 ">Cancel Order</a></td>
                                                        <td><a href="/view-order?id=<%= key._id %>" class="btn btn-primary ms-2 ">View Details</a></td>
                                                      </tr>
                                                    </tbody>
                                                    <% } %>
                                                  </table>
                                            </section>
                    
                    
                                              <div class="nk-gap"></div>
                                          </div>
                                          <div role="tabpanel" class="tab-pane fade" id="tabs-1-3">
                                              <div class="nk-gap"></div>
                                              <p>I have related the substance of several conversations I had with my master during the greatest part of the time I had the, for brevity sake, omitted much moredown.</p>
                                              <div class="nk-gap"></div>
                                          </div>
                                      </div>
                                  </div>

                    
                    <!-- Column -->
                </div>
                <!-- Row -->
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer text-center">
                All Rights Reserved by Xtreme Admin. Designed and Developed by <a
                    href="https://www.wrappixel.com">WrapPixel</a>.
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Wrapper -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- All Jquery -->
        <!-- ============================================================== -->
        <script src="assets/libs/jquery/dist/jquery.min.js"></script>
        <!-- Bootstrap tether Core JavaScript -->
        <script src="assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="dist/js/app-style-switcher.js"></script>
        <!--Wave Effects -->
        <script src="dist/js/waves.js"></script>
        <!--Menu sidebar -->
        <script src="dist/js/sidebarmenu.js"></script>
        <!--Custom JavaScript -->
        <script src="dist/js/custom.js"></script>
        </body>

        </html>

        <%- include('../partials/userFooter') %>